./node_modules
./.DS_Store
./css/.DS_Store
./demo_assets/.DS_Store
./lib/.DS_Store
./output/.DS_Store
./templates/.DS_Store
./test/.DS_Store
./demo_assets/ucla-hw10-cli-employee-summary-template-engine-demo-original-untracked.mp4